.fichelogement{

    .equipement{

        list-style: none;
    }
    .details{

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        margin-top: 30px;
        height: 150px;

        .wrapperdetails{

            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }

    }
    .titre{
        color: $PINK;
        font-weight: 500;
        font-size: 36px;
    }
    .wrappertag{
        display: flex;
    .tag{
        font-weight: 500;
        font-size: 14px;
        color:white;
        background-color: $PINK;
        border-radius: 25px;
        padding:10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin-right: 10px;
        margin-top: 24px;

    } }
    .location{
        color: $PINK;
        font-weight: 500;
        font-size: 18px;
    }     
    .host{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 200px;
        height: 100%;



        .avatar{
            display: flex;
            word-wrap: break-word;
            text-align: left;
            justify-content: flex-end;
            width: 100%;
            height: 100px;

        }

        img{
            height: 100%;
            width: 50%;
            border-radius: 50%;
        }

        .hostname{
        display: flex;
        justify-content: center;
         align-items: center;
         color: $PINK;
         font-weight: 500;
         font-size: 18px;
         word-wrap: break-word;
         text-align: center;
         margin-right: 10px;
         width: 50%;
        }
        .rating{
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 24px;

            img{
                height:30px;
                width: 30px;
            }
        }
    } 
}
