.collapsible .content {
    padding: 6px;
    background-color: #f6f6f6;
    border-bottom: 10px;
}
.collapsible .header {
    background-color: #FF6060;
    padding: 6px;
    cursor: pointer;
    border-radius: 10px;
}