.wrapperapropos{

    padding-left: 120px;
    padding-right: 120px;
    margin-top: 30px;


}
@media (max-width: 600px) {
    .wrapperapropos {
 
        padding-left: 0;
        padding-right: 0;



    }
  }