.wrapper{
    display: flex;
    flex-direction: column;
    margin: 40px 100px 0 100px;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    nav{
        display: flex;
        width: 20%;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            
        }
        a{
            text-decoration: none;
            color:  $PINK;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
        }
        a:hover{

            text-decoration: underline;
        }
        }
}
@media (max-width: 600px) {
    .wrapper {
        margin: 20px 20px 0 20px;
        .header{
 
            margin-bottom: 20px;
        }
        nav{
            width: 50%;
            a{
            font-size: 12px;
             }
         }
    }
}
@media (max-width: 1024px) {
    .wrapper {
        nav{
            width: 50%;
         
         }
     } }
  