.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
        img{
            object-fit: cover;    }
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    height: 415px;
    border-radius: 25px;
    // @media (max-width: 1024px) {
    //     .wrappcard {
    
         
    
    //     }
    //   }
      
    //   @media (max-width: 600px) {
    //     .wrappcard {
    //     padding: 0%;
    //     gap: 20px;
    //     margin-top: 20px;
    //     }
    //   }
}


.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 80px;
    // border-radius: 24px;
    // background-color: white;
    // border: 1px solid #ddd;
    font-size: 80px;
    color: white;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;

}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}
@media (max-width: 600px) {
    .left-arrow, .right-arrow {

        font-size: 20px;
  
    }

    .left-arrow {
        left: 6px;
    }
    
    .right-arrow {
        right: 6px;
    }}